@media (max-width: 480px) {
.container {
	width: 420px;
	margin:0 auto;
	max-width: 100%;
}

.hide {
	display: none;
}


#top-nav-links {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 0;
}

#top-nav-links a {
	text-align: center;
}

.desktop-topbar-container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
#header .headline, #header .supporting-copy {
	color: white;

}
/*two*/

#two {

}

#two .headline {
	color: rgb(59, 61, 64);
	font-family: Raleway;
	font-size: 2.875rem;
	font-weight: 700;
	line-height: 3.25rem;
	margin-top: 85px;
}
#two .supporting-copy {
	width: 24.813rem;
	height: 3.188rem;
	color: rgb(102, 102, 102);
	font-family: "Adobe Caslon Pro";
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.625rem;
	margin-top: 28px;
	
}

#two-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 18px;
	margin-top: 48px;
}

#two .button {
	margin: 42px auto 51px auto;
}
/*liberating*/
#liberating {
	height:auto;
}

/*culture*/
#culture .heading {
	font-size:46px;
}

/*join-our-program*/
#join-our-program .two-column-grid{
	grid-template-rows:1fr 1fr;
	grid-template-columns:auto;
	width: 420px;
}
}