body {
	overflow-x: hidden;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.button {
	background-color: rgb(46, 113, 242);
	border-radius: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header {
	background: linear-gradient(
      rgba(59, 61, 64, 0.7), 
      rgba(59, 61, 64, 0.7)
    ),
    /* bottom, image */
  url(https://images.pexels.com/photos/262413/pexels-photo-262413.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  background-size: 100% 100%;
}

nav {
	z-index: 1;
	letter-spacing: 2px;
}

/*flexbox styles*/
.d-f {
	display: flex;
}

.fw-w {
	flex-wrap: wrap;
}

.fd-c {
	flex-direction: column;
}

.jc-sb {
	justify-content: space-between;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
/*flexbox styles end*/
header {
	height: 100vh;
}

.your-company-here {
	width: 5rem;
	height: 0.75rem;
	color: white;
	font-family: Raleway;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.desktop-topbar-container {
	width: 960px; margin: auto; padding-top: 50px;
}

#top-nav-links {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 37px; 
}

#top-nav-links a {
	color: white;
	font-family: Raleway;
	font-size: 0.75rem;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

#top-social-icons {
	width: 112px;
	justify-content: space-around;
	display: flex;
}

.underline {
	background-color: rgb(235, 237, 238);
  display: block;
  height: 2px;
  width: 100%;
  padding: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

a:hover .underline {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
nav {
	display: flex;
	flex-wrap: wrap;
}

.topbar-after-scroll {
	padding-top: 5px;
}
.changeBG {
	background-color: dodgerblue;
}
div,
nav {
  transition: .7s all;
  -moz-transition: .7s all;
  -webkit-transition: .7s all;
  -o-transition: .7s all;
}


.full-h-w {
	height: 100vh;
	width: 100%;
}

.your-logo-here {
	width: 3.938rem;
	height: 3.938rem;
}
.headline {
	color: white;
	font-family: Raleway;
	font-size: 3.25rem;
	font-weight: 700;
	line-height: 3.438rem;
	text-align: center;
	margin-top: 23px;
}

.supporting-copy {
	opacity: 0.7;
	color: white;
	font-family: "Adobe Caslon Pro";
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.625rem;
	text-align: center;
	margin-top: 34px;
}


/*section two*/

#two {
	background-color: rgb(249, 249, 249);
}

#two .headline {
	color: rgb(59, 61, 64);
	font-family: Raleway;
	font-size: 3.25rem;
	font-weight: 700;
	line-height: 3.438rem;
	margin-top: 116px;
}
#two .supporting-copy {
	color: rgb(102, 102, 102);
	font-family: "Adobe Caslon Pro";
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.625rem;
	margin-top: 24px;
	opacity: 1;
}

#two-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 90px;
	margin-top: 71px;
}

#two-grid p {
	color: rgb(101, 107, 111);
	font-family: "Adobe Caslon Pro";
	font-size: 0.938rem;
	font-weight: 600;
	line-height: 1.25rem;
}

#two .button {
	width: 10.125rem;
	height: 2.813rem;
	background-color: rgb(46, 113, 242);
	border-radius: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 56px auto 107px auto;
}

.read-more {
		color: white;
	font-family: Raleway;
	font-size: 0.75rem;
	font-weight: 700;
}

a {
	text-decoration: none;
}


/*community*/

#community {
	flex-direction: column;
	justify-content: flex-start;
	
background: -webkit-linear-gradient(to top, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 110vh;
padding-bottom: 100px;
}

#community .heading {
	color: rgb(59, 61, 64);
	font-family: Raleway;
	font-size: 52px;
	font-weight: 700;
	line-height: 55px;
	margin-top: 72px;
	text-align: center;
}

#community .supporting-copy {
	color: rgb(101, 107, 111);
	font-family: "Adobe Caslon Pro";
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	margin-top: 20px;
	opacity: 1;
}

#community-slider-container {
	margin-top: 53px;
}

.slick-slide img {
	border-radius: 50%;
}

.quote {
	color: rgb(101, 107, 111);
	font-family: "Adobe Caslon Pro";
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;

	text-align: center;

	margin-top: 23px;
}

.name {
	color: rgb(60, 61, 65);
	font-family: Raleway;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 42px;
}
.title {
	color: rgb(101, 107, 111);
	font-family: "Adobe Caslon Pro";
	font-size: 13px;
	font-weight: 600;
	line-height: 16px;
	margin-top: 11px;
}
.slick-slide {
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	flex-direction: column;
}

.br-z {
	border-radius: 0 !important;
}

.triangle {
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.mystar {
-webkit-clip-path: polygon(50% 0%, 100% 0, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
clip-path: polygon(50% 0%, 100% 0, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


/*what-people-say */
#what-people-say {
        height: 639px;
        flex-direction: column;
        justify-content: flex-start !important;
        	background-color: rgb(46, 113, 242);
    }

    .what-people-say-heading {
    width: 140px;
    height: 9px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    margin-top: 112px;
    margin-bottom: 72px;
}

.wps-quote {
	color: rgb(255, 255, 255);
	font-family: "Adobe Caslon Pro";
	font-size: 34px;
	font-weight: 600;
	line-height: 42px;
}

.what-people-say-slider .slick-slide {
	background-color: transparent;
}
.line {
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background-color: rgb(255, 255, 255);
  margin-top: 48px;
}
.what-people-say-slider .name {
	color: rgb(255, 255, 255);
	font-family: Raleway;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.what-people-say-slider .title {
	opacity: 0.7;
	color: rgb(255, 255, 255);
	font-family: "Adobe Caslon Pro";
	font-size: 14px;
	font-weight: 600;
	margin-top: 10px;
}

/* liberating */

#liberating {
	height: 520px;	background-color: rgb(249, 249, 100);
}

#liberating .grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 111px;
}

#liberating .grid-box img {
	border-radius: 50%;
}

#liberating .headline {
	width: 279px;
	height: 104px;
	color: rgb(59, 61, 64);
	font-family: Raleway;
	font-size: 52px;
	font-weight: 700;
	line-height: 55px;
	margin-top: 5px;
}
#liberating .text {
	width: 416px;
	height: 75px;
	color: rgb(101, 107, 111);
	font-family: "Adobe Caslon Pro";
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	margin-top: 24px;
}

#liberating .button {
	margin: 54px auto 0 4px;
	width: 190px;
	height: 45px;
}

.grid-box {
	flex-direction: column;
}

.grid-text {
	justify-content: flex-start !important;
	align-items: flex-start !important;
	margin-left: 4px;
}

.join-our-team {
	color: rgb(255, 255, 255);
	font-family: Raleway;
	font-size: 12px;
	font-weight: 700;
}

.text-left {
	text-align: left !important;
}

@media (max-width: 750px) {

	#liberating {
		height:auto;
	}

	#liberating .grid {
		grid-template-columns: auto !important;
		grid-template-rows: 1fr 1fr;
		margin-top: 71px;
	}

	#liberating .grid-box:nth-child(1) {
		justify-content: flex-start;
	}
	#liberating .grid-text {
		justify-content: center !important;
		align-items: center !important;
		margin-left:0;
	}

	#liberating .headline {
		margin-top: -7px;
		width: 246px;
		height: 96px;
		color: rgb(59, 61, 64);
		font-family: Raleway;
		font-size: 46px;
		font-weight: 700;
		line-height: 52px;
	}

	#liberating .text {
		margin-top: 20px;
	}

	#liberating .text-left {
		text-align: center !important;
	}

	#liberating .button {
		margin-top: 43px;
		width: 190px;
		height: 45px;
		background-color: rgb(46, 113, 242);
		margin-bottom: 75px;
	}
}

/*INVEST*/
#invest {
	height: 520px;	
	background-color: rgb(249, 100, 200);
}

#invest .grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 111px;
}

#invest-image-box img {
	max-width:100%;
	height:auto;
	border-radius: 50%;
}

#invest-image-box {
	order:2;
	justify-content: flex-start !important;
}

#invest .grid-text {
	order:1;
}

#invest .button {
	width: 136px;
	height: 45px;
	background-color: rgb(46, 113, 242);
	border-radius: 22px;
	color:white;
	margin-top: 54px;
}

.donate {
	color: rgb(255, 255, 255);
	font-family: Raleway;
	font-size: 12px;
	font-weight: 700;
}

#invest .text {
	width: 416px;
	height: 102px;
	color: rgb(101, 107, 111);
	font-family: "Adobe Caslon Pro";
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	margin-top:26px;

}

#invest .headline {
	margin-top: 0;
}

@media (max-width: 750px) {
	#invest {
			height: auto;
	}

	#invest .text {
	width: 357px;
	height: 124px;
	color: rgb(101, 107, 111);
	font-family: "Adobe Caslon Pro";
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

	#invest .grid {
		grid-template-columns: auto;
		margin-top: 71px;
		grid-template-rows: fit-content(300px) fit-content(300px) 1fr;
	}

	#invest-image-box {
	order:1;
	}

	#invest .grid-text {
	order:2;
	}

	#invest .grid-text {
    justify-content: center !important;
    align-items: center !important;
    margin-left: 4px;
}

	#invest .headline {
	width: 267px;
	height: 138px;
	color: rgb(59, 61, 64);
	font-family: Raleway;
	font-size: 46px;
	font-weight: 700;
	line-height: 52px;
	text-align: center !important;
	margin-top: 48px;
}

#invest-image-box {
	justify-content: flex-start !important;
}
}

/*CULTURE*/
#culture {
	height: 698px;
	flex-direction: column;
		background-color: rgb(59, 61, 64);
		background: linear-gradient(
      rgba(59, 61, 64, 0.7), 
      rgba(59, 61, 64, 0.7)
    ),
    /* bottom, image */
  url(../img/Pakistan.jpg);
  background-size: 100% 100%;
}

#culture .heading {
	color: rgb(255, 255, 255);
	font-family: Raleway;
	font-size: 52px;
	font-weight: 700;
	line-height: 55px;
	margin-bottom: 20px;
	text-align: center;
}

#culture .supporting-copy {
	width: 369px;
	height: 76px;
	opacity: 0.7;
	color: rgb(255, 255, 255);
	font-family: "Adobe Caslon Pro";
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	margin-top: 0 !important;
}



/*YNM*/

#your-next-move {
		
		padding-top:111px;
		padding-bottom: 98px;
}


.ynm-heading {
	width: 400px;
	height: 38px;
	color: rgb(59, 61, 64);
	font-family: Raleway;
	font-size: 52px;
	font-weight: 700;
	line-height: 55px;
	margin-top: 30px;
}

#your-next-move .supporting-copy {
	width: 396px;
	height: 51px;
	color: rgb(101, 107, 111);
	font-family: "Adobe Caslon Pro";
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	margin-top: 27px;
}


#ynm-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap:56px;
	margin-top: 68px;
}

#ynm-grid > div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#ynm-grid img {
	width: 25px;
	height: 25px;
}
#ynm-grid .heading {
	color: rgb(59, 61, 64);
	font-family: Raleway;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 16px;
}

#ynm-grid .copy {
	width: 186px;
	height: 35px;
	color: rgb(101, 107, 111);
	font-family: "Adobe Caslon Pro";
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	text-align: center;
}

@media (max-width: 750px) {
	#ynm-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap:47px 31px;
}
}

/*join-our-program*/
#join-our-program {
		background: linear-gradient(
				rgba(43,192,228,0.7),
				rgba(234,236,198,0.7)
				),
		url(../img/sea-flight-sky-earth.jpg);
		background-size: cover;
		height:453px;"
	}

	#join-our-program h2 {
		width: 437px;
		height: 50px;
		color: white;
		font-family: Raleway;
		font-size: 52px;
		font-weight: 700;
		line-height: 55px;
	}

	#join-our-program .supporting-copy {
	width: 341px;
	height: 51px;
	opacity: 0.7;
	color: white;
	font-family: "Adobe Caslon Pro";
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	}

	.two-column-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap:26px;
		width: 584px;
		margin-top: 62px;
	}

	.email-input {
	width: 400px;
	height: 45px;
	opacity: 0.15;
	background-color: white;
	}

	.subscribe {
	width: 158px;
	height: 45px;
	background-color: rgb(46, 113, 242);
	color: white;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 700;
}

/*footer*/
#footer {
		background-color: #333;
		color:white;
	}

	#footer .container {
		width: 981px;
	}

	#footer .grid {
		display: grid;
		grid-template-columns:248px 493px 1fr;
		margin-top: 40px;
	}

	#logo-and-name {
		display: grid;
		grid-template-columns: 20px 80px;
		grid-column-gap: 18px;
	}

	#logo-and-name object {
		width:20px;
		height: 20px;
	}

	.your-company-here {
		width: 80px;
		height: 12px;
		color: white;
		font-family: Raleway;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
		margin-top: 4px;
	}

	#address {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-row-gap: 14px;
		opacity: 0.3;
		color: white;
		font-family: "Adobe Caslon Pro";
		font-size: 15px;
		font-weight: 600;
		line-height: 19px;
		letter-spacing: 1px;
	}

	#footer #icons-and-copyright {
		display: grid;
	}

	#bottom-social-icons {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		height: fit-content;
		margin-left: 50%;
		grid-column-gap:26px;
	}


	#footer .copyright {
		width: 235px;
		height: 16px;
		opacity: 0.3;
		color: white;
		font-family: "Adobe Caslon Pro";
		font-size: 15px;
		font-weight: 600;
		line-height: 16px;
		letter-spacing: 1px;
	}